html {
  text-align: center;
}

/*Just for fun, need to learn more about this*/
@media (prefers-color-scheme: dark) {
    .about-me {
      color: white
    }
  }

/*Text Styling*/
.intro-text{
  font-size: 20px;
  margin-left: 10%;
  width:80%;
  line-height: 26px;
}

.brief-info{
  padding-bottom: 20px;
}

/* Nav Bar */
.navbar{
  display:flex;
  flex-direction: row;
  height: 55px;
  margin-right: 5%;
  margin-left: 5%;
  background-color: grey;
}

.left-side{
  display: flex;
  flex-flow: row;
  font-size: 25px;
  align-items: center;
  width: 15%;
  /*background-color: brown;*/
}

.center{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex:1;
}

.right-side{
  display: flex;
  /*background-color: green;*/
  width: 15%;
  align-items: center;
  justify-content: center;

}

.picture{
  border-radius: 22px;
  height: 45px
}
