html {
  font-family: arial;
  text-align: center;
}

/*Buttons*/
.bing-button {
  background-color: rgb(207, 0, 0);
  color: white;
  border: none;
  margin-top: -15px;
  margin-right: 8px;
  margin-left:  8px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  vertical-align: top;
  cursor: pointer;
  transition: opacity 0.2s;
  
}

.bing-button:hover {
  opacity: 0.7;
}

.bing-button:active {
  opacity: 0.4;
}

.about-me{
  background-color: transparent;
  color: black;
  border: rgb(8, 8, 212);
  border-radius: 5px;
  border-style:solid;
  border-width: 2px;
  cursor: pointer;
  margin-right: 7px;
  transition: background-color 0.75s, color .75s;
  margin-top: -15px;
  margin-right: 8px;
  margin-left:  8px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  vertical-align: top;
}

.about-me:hover {
  background-color: rgb(8, 8, 212);
  color: white;
}

.about-me:active {
  opacity: 0.5;
  
}

.twitter-link {
  background-color: rgb(24, 170, 238);
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  transition: box-shadow .35s;
  margin-top: -15px;
  margin-right: 8px;
  margin-left:  8px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  vertical-align: top;
}

.twitter-link:hover{
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.125);
}

/*Just for fun, need to learn more about this*/
@media (prefers-color-scheme: dark) {
    .about-me {
      color: white
    }
  }

/*Text Styling*/
.welcome-text{
  font-size: 20px;
  margin-left: 10%;
  margin-right: 10%;
  line-height: 26px;
}

.brief-info{
  padding-bottom: 20px;
}

.learning-link:hover{
  cursor:pointer;
  text-decoration: underline;
}